@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900 bg-white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-indigo-600;
}